{
  "expo": {
    "name": "MonumentALL",
    "slug": "MonumentALL",
    "privacy": "public",
    "sdkVersion": "34.0.0",
    "platforms": [
      "ios",
      "android"
    ],
    "version": "1.0.6",
    "orientation": "portrait",
    "icon": "./assets/images/icon.png",
    "splash": {
      "image": "./assets/images/splash.png",
      "resizeMode": "contain",
      "backgroundColor": "#ffffff"
    },
    "updates": {
      "fallbackToCacheTimeout": 0
    },
    "assetBundlePatterns": [
      "assets/*"
    ],
    "extra": {
      "firebaseConfig": {
        apiKey: "APIKEY",
        authDomain: "AUTHDOMAIN",
        databaseURL: "DB_URL",
        projectId: "monumentall",
        storageBucket: "STORAGE",
        messagingSenderId: "SENDER_ID",
        appId: "APP_ID"
      },
    },
    "ios": {
      "supportsTablet": true,
      "infoPlist": {
        "NSLocationWhenInUseUsageDescription": "This app uses current location to provide information about relevant nearby landmarks"
      },
      "bundleIdentifier": "com.monumentall.beta",
      "buildNumber": "4",
      "config": {
        "usesNonExemptEncryption": false,
        "googleMapsApiKey": "APIKEY"
      }
    },
    "android": {
      "permissions" : [
        "ACCESS_COARSE_LOCATION",
        "ACCESS_FINE_LOCATION"]
    }
  }
}
